.courses__wrapper {
    position: absolute;
    z-index: 999;
    top: 13%;
    left: 20.5%; 
    width: 840px;
    height: 665px;
    background-color: #F1F1F1;
    border-radius: 20px;
    box-shadow: 0.0em 0.3em 5px rgba(122,122,122,0.5);
}

.courses__wrapper-container {
    margin-top: 30px;
    margin-left: 40px;
}